<div class="index" data-action="index">
    <center>

         <h1>Hello World!</h1>
        <p>New to Starterkit? Read the <a href="https://gitlab.digitas.com/starter-kit/generator-starterkit/wikis/home">docs</a></p>

    <center>
</div>
